{{!-- <div class="p-1 my-container active-cont">
    <section>
        <form action="/admin/add-offer?id={{catId}}" method="post">
            <div class="con" style="margin-top: 50px;">
                <input type="number" class="form-control" style="width: 50%; height:40px;" name="off" placeholder="Add offer..." required>
                <label for="offTill">Valid Till</label>
                <input type="date" class="form-control" name="offTill" required>
                <div class="button" style="margin-top: 30px; text-align:center;">
                    <div class="btn btn-success" type="submit">Add Offer</div>
                </div>

            </div>
        </form>
    </section>
</div> --}}
{{!-- style="display: inline-block;margin-left:10rem" --}}



<!-- Main Wrapper -->


{{!-- <div class="p-1 my-container active-cont">
    <section>
        <div class="container-fluid">
            <div class="add-pro-bar">
                <div class="head-pro-bar">
                    <h2>ADD Offer</h2>
                </div>
            </div>
            <section>
                {{!-- <div class="container"> --}}
                    <div class="main-form-add mt-4">
                        <div class="container ">
                            <form action="/admin/add-offer/{{catId}}" method="post">
                                <label for="">Offer</label>
                                <input type="number" class="form-control" name="off" placeholder="Add offer..." required>
                                 <label for="">Till Date</label>
                                <input type="date" class="form-control" name="offTill" required>
                                {{!-- <label for="">Category offer</label>
                                <input type="text" name="categoryoffer" class="form-control"> --}}
                                <button type="submit" class="btn btn-success mt-4">Submit</div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </section>
</div> --}}