<section class="user-login">
    <div class="container">
        <div class="user-login-form">
            <h1>Sign In</h1> 
            <form action="/admin/admin-login" method="post">
                <input type="text" name="email" placeholder="Email">
                <input type="password" name="password" placeholder="Password">
                 <div class="log-user-but">
                <button type="submit" class="btn border border-secondary"> Login</button>
            </div>
            </form>
            <a href="#"><u>Forgot Password ?</u><a></a>
        </div>
    </div>
</section>