




<div class="p-1 my-container active-cont">
    <section>
        <div class="container-fluid">
            <div class="add-pro-bar">
                <div class="head-pro-bar">
                    <h2>EDIT CATEGORY</h2>
                </div>
            </div>
            
            <section>
                <div class="container">
                    <div class="main-form-add mt-4">
                        <div class="container ">
                            <form action="/admin/edit-category/{{category._id}}" method="post">
                                <label for="">Name</label>
                                <input type="text" name="name" class="form-control" value="{{category.categoryname}}">
                                 <label for="">Description</label>
                                <input type="text" name="category" class="form-control"  value="{{category.description}}">
                                {{!-- <label for="">Category offer</label>
                                <input type="text" name="offer" class="form-control" value="{{category.offer}}"> --}}
                                <button type="submit" class="btn btn-success mt-4">Submit</div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
</div>