<div class="side-navbar active-nav d-flex justify-content-between flex-wrap flex-column" id="sidebar">
    <ul class="nav flex-column text-white w-100">
        <a href="#" class="nav-link h3 text-white my-2">
            <h3 style="color: rgb(255, 255, 255);">TIME ZONE</h3>
        </a>
        <hr>
        <div class="side-text">
        <li class="nav-link">
            <a href="/admin/sidebar-dashboard">
            <i class="bi bi-clipboard2-pulse"></i>
            <span class="mx-2 "> Dashboard</span></a>
        </li>
        <li class="nav-link">
            <a href="/admin/sidebar-products">
                <i class="bi bi-gift"></i>
                <span class="mx-2">Products</span>
            </a>
        </li>
        <li class="nav-link">
           <a href="/admin/sidebar-users">
            <i class="bi bi-people"></i>
            <span class="mx-2">Users</span>
            </a>
        </li>
        <li  class="nav-link">
        <a href="/admin/sidebar-category">
            <i class="bi bi-people"></i>
            <span class="mx-2">Category</span>
            </a>
        </li>
        <li class="nav-link">
            <a  href="/admin/sidebar-orders" >
            <i class="bi bi-cart4"></i>
            <span class="mx-2">Orders</span>
            </a>
        </li>
        {{!-- <li  class="nav-link">
            <a  href="/admin/sidebar-transactions">
            <i class="bi bi-cash-coin"></i>
            <span class="mx-2">Transactions</span>
            </a>
        </li> --}}
        <li class="nav-link">
            <a  href="/admin/sidebar-coupons">
            <i class="bi bi-postcard"></i>
            <span class="mx-2">Coupons</span>
            </a>
        </li>
        <li class="nav-link">
            <a href="/admin/admin-logout">
            <i class="bi bi-box-arrow-right"></i>
            <span class="mx-2">Logout</span>
            </a>
        </li>
        </div>
    </ul>
</div>