{{!-- Navigation Bar --}}

<div class="slider-image img-fluid">
  <div class="shadow-container">
  </div>
</div>


{{!-- Start of next section --}}


<section>
  <div class="category-head">
    <div class="cat-header">
      <h3>Popular Brands</h3>
    </div>
  </div>
</section>


{{!-- CATEGORY LIST --}}

<div class="cat-list">
  <div class="logo-list">
    <img src="/images/download ppppppppppppp.png">
  </div>
  <div class="logo-list">
    <img src="/images/download titannnnn.png">
  </div>
  <div class="logo-list ">
    <img class="cadbury" src="/images/sevenfriday.jpg">
  </div>
  {{!-- <div class="logo-list">
    <img class="ferraro" src="/images/hersheys-logo.png">
  </div> --}}
</div>

{{!-- END --}}

{{!--
SECOND PORUDCTS --}}

<section>
  <div class="top-selling">
    <div class="top-selling-pro">
      <h3>Top Selling Products</h3>
    </div>
  </div>
</section>

<div class="divvvv">
  <div class="sliderrr-image img-fluid">
    <div class="banner-text">
      <h2 style="padding-top:330px ;font-weight:700;color:rgb(255, 255, 255);">Explore the most Mesmerizing and<br>
       latest collection<br>Ever. </h2><br>
      <a class="btn buttonn" style="border-radius: 20px;" href="/all-products">Shop Now</a>
    </div>
    <div class="shadowwww-container">
    </div>
  </div>
</div>



<section>
  <div class="top-selling">
    <div class="top-selling-proo">
      <h3>Our Services</h3>
    </div>
  </div>
</section>
{{!-- <div class="service-list">
  <div class="logoss-list">
    <img src="/images/Ferrero2-logo.png">
  </div>
  <div class="logoss-list">
    <img src="/images/nestle-logo.png">
  </div>
  <div class="logoss-list ">
    <img class="cadbury" src="/images/cadbury-logo.png">

  </div>
  <div class="logoss-list">
    <img class="ferraro" src="/images/hersheys-logo.png">
  </div>
</div> --}}

<div class="service-list">
  <div id="div1">
    <img src="https://i.pinimg.com/originals/20/b6/86/20b6860e2f5560e6fae086a51051bdbc.gif">
    <h5 style="text-align:center ;font-weight:600;color:rgba(0, 0, 0, 0.803)">24/7 Customer Support</h5>
  </div>
  <div id="div1">
    <img src="https://cdn.dribbble.com/users/282075/screenshots/4756098/icon_reward.gif">
    <h5 style="text-align:center ;font-weight:600;color:rgba(0, 0, 0, 0.803)">Top Brands</h5>
  </div>


  <div id="div1">
    <img src="https://cdn.dribbble.com/users/2441144/screenshots/6176495/1.quality_dribbble.gif">
    <h5 style="text-align:center;font-weight:600;color:rgba(0, 0, 0, 0.803)">Assured Quality</h5>
  </div>


  <div id="div1">
    <img src="https://i.gifer.com/origin/19/19f32cc9b0101c1e42b2d16641b7b83a.gif">
    <h5 style="text-align:center;font-weight:600;color:rgba(0, 0, 0, 0.803)">Free Delivery</h5>
  </div>
</div>













<footer class="footer-section">
  <div class="container">
    <div class="footer-cta pt-5 pb-5">
      <div class="row">
        <div class="col-xl-4 col-md-4 mb-30">
          <div class="single-cta">
            <i class="fas fa-map-marker-alt"></i>
            <div class="cta-text">
              <h4>Find us</h4>
              <span>TIME ZONE , Kochi</span>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-4 mb-30">
          <div class="single-cta">
            <i class="fas fa-phone"></i>
            <div class="cta-text">
              {{!-- <h4>Call us</h4>
              <span>8078044239</span> --}}
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-4 mb-30">
          <div class="single-cta">
            <i class="far fa-envelope-open"></i>
            <div class="cta-text">
              <h4>Mail us</h4>
              <span>fidhaff811@gmail.com</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-content pt-5 pb-5">
      <div class="row">
        <div class="col-xl-4 col-lg-4 mb-50">
          <div class="footer-widget">
            <div class="footer-logo">
              <a class="navbar-brand" href="/">TIME ZONE</a>
            </div>
            <div class="footer-widget">

            </div>

            <div class="footer-social-icon" style="padding-left: 40px;">

              <a href="#"><i class="bi bi-facebook"></i></a>
              <a href="#"><i class="bi bi-twitter"></i></a>
              <a href="#"><i class="bi bi-google"></i></a>
              <a href="#"><i class="bi bi-instagram"></i></a>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
          <div class="footer-text" style="padding-top: 50px;">
            <p style="font-size: 17px;">Be the first to know about exclusive sales & latest arrivals!</p>
          </div>
        </div>
        <div class="col-xl-4 col-md-4 mb-30">

          <div class="single-cta">
            <div class="footer-widget-heading">
              <h3>Useful Links</h3>
            </div>
            <div class="nnnn">
              <ul style="text-decoration: none;">
                <li style="list-style-type: none; "><a href="/">Home</a></li>
                <li style="list-style-type: none; "><a href="/all-products">Featured Products</a></li>
                <li style="list-style-type: none; "><a href="#">Services</a></li>
                <li style="list-style-type: none; "><a href="#">Contact</a></li>
                <li style="list-style-type: none; "><a href="#">About us</a></li>
              </ul>
            </div>
          </div>
        </div>

        {{!-- <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
          <div class="footer-widget">
            <div class="footer-widget-heading">
              <h3>Subscribe</h3>
            </div>
            <div class="footer-text mb-25">
              <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
            </div>
            <div class="subscribe-form">
              <form action="#">
                <input type="text" placeholder="Email Address">
                <button><i class="fab fa-telegram-plane"></i></button>
              </form>
            </div>
          </div>
        </div> --}}
      </div>
    </div>
  </div>
  <div class="copyright-area">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-6 text-center text-lg-left">
          <div class="copyright-text">
            <p>Copyright &copy; 2022, All Right Reserved <a href="">FIDHA</a></p>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
          <div class="footer-menu">
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Terms</a></li>
              <li><a href="#">Privacy</a></li>
              <li><a href="#">Policy</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>