{{!-- <div class="container cat-pro-mainer">
    <div class="conta">
        <div class="content">
            <ul class="content-cont ">
                {{#each category}}
                <li class="nav-itemss mr-4"><a href="/show-catproducts/{{this._id}}" class="nav-linkss">{{this.categoryname}}</a></li>
                {{/each}}
            </ul>
        </div>

    </div>
</div> --}}