
<div class="success-main">
<div class="svg-container">    
    <svg class="ft-green-tick" xmlns="http://www.w3.org/2000/svg" height="100" width="100" viewBox="0 0 48 48" aria-hidden="true">
        <circle class="circle" fill="#5bb543" cx="24" cy="24" r="22"/>
        <path class="tick" fill="none" stroke="#FFF" stroke-width="6" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M14 27l5.917 4.917L34 17"/>
    </svg>
</div>
<div>
    <h4 class="success-text">Order Placed Successfully !</h4><br>
    <p style="text-align: center;">Click here to view orders</p>
    <div style="padding-left:80px;">
    <a href="/orders" class="btn btn-success">Go to orders</a>
    </div>
    <div style="padding-left:58px;padding-top:10px">
    <a href="/all-products" class="btn btn-warning">Continue Shopping</a>
    </div>

</div>
</div>