<div class="form-group">
    <input required type="street" class="form-control" name="address" id="autocomplete" placeholder="Address">
    <div class="address-align">
        <input type="text" class="form-control" name="city" id="inputCity" placeholder="City" required>
        <input type="text" class="form-control" name="district" id="inputState" placeholder="District">
    </div>
    <div class="address-align">
        <input required type="text" class="form-control" name="state" id="inputCounty" placeholder="State">
        <input required type="text" class="form-control" name="zip" id="inputCountry" placeholder="Zip">
    </div>
    <input type="text" class="form-control" name="userId" id="" value="{{user._id}}" hidden>
</div>